p{
    background-color: aqua;
}

a{
    text-decoration: none;
    color: black;
    background-color: aquamarine;
}

div{
    background-color: chartreuse;
}

span{
    background-color: burlywood;
}